
  <div class="container-dose">
    <h2>Choose your ingredients</h2>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description, label: 'Dose for your ingredient' %>
      <%= f.submit "Add ingredient", class: "btn btn-outline-dark" %> <%= link_to 'Back to cocktail', cocktail_path(@cocktail), class: "btn btn-outline-dark" %>
    <% end %>
  </div>


